[init]
	defaultBranch = main

[user]
    email = contact@sebkinne.com
    name = Sebastian
	signingkey = ~/.ssh/id_ecdsa_sk.pub

[gpg]
	format = ssh

[commit]
    gpgsign = true

[diff]
    tool = nvimdiff
    colorMoved = default

[merge]
    tool = nvimdiff
    conflictstyle = diff3

[url "git@github.com:"]
    insteadOf = https://github.com/

# Cargo has issues when we force SSH authentication for GitHub, so use HTTPS instead
[url "https://github.com/rust-lang/crates.io-index"]
  insteadOf = https://github.com/rust-lang/crates.io-index
[url "https://github.com/RustSec/advisory-db"]
  insteadOf = https://github.com/RustSec/advisory-db
